@import "tailwindcss";

:root {
  /* surfaces */
  --bg-app: #1e1f24;
  --bg-panel: #25262c;

  /* borders */
  --border-subtle: #2a2b31;

  /* text */
  --text-primary: #e5e7eb;
  --text-muted: #9ca3af;

  /* accent */
  --accent-primary: #3a3c45;
  --accent-hover: #444651;
}

/* ========================================
   Scrollbar (Auto-hide style)
======================================== */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

*:hover {
  scrollbar-color: var(--accent-primary) transparent;
}

/* Webkit */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}


*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: var(--accent-primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-hover);
}
